body {
  background: url(/images/abstract-art-cool.jpg);
  /* object-fit: cover; */
  overflow-x: hidden;
  background-size: cover;
  background-position:50% 50%;
  font-family: 'Montserrat', sans-serif;;
}


/* ............NAVBAR................ */
.navbar__list {
  list-style: none;
  display: flex;
}

.navbar__list a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}

.navbar__list a:hover {
  opacity: calc(.5);
}


.top__block {
  background-color: white;
  /* background-color: #E7EB5D; */
  /* border-radius: 0 0 5px 5px; */

  /* height: 500px; */
}

.name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.mobile__name {
  /* display: none; */
}

/* .nav__block {
  position: sticky;
} */

@media screen and (max-width: 430px) {

  .contact__link {
    display: none;
  }
}

.logo {
  border-radius: 50px;
}

/* ..............HERO................ */



/* ...............PORTFOLIO................. */
.portfolio__block {
  background-color: white;
  margin-top: 200px;
  border-radius: 5px;
}

.portfolio__hr {
  opacity: calc(.1);
  /* background-color: #E7EB5D; */
}

/* .portfolio__img {
  width: 75%;
} */

/* @media screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio__block p {
    font-size: 13px;
  }
} */

/* .skills__icons {
  
} */

/* ................CONTACT INFO BLOCK.................... */
.contact__info__block {
  /* background-color: #E7EB5D; */
  background-color: white;
  border-radius: 5px;
  /* margin: 100px 200px 0; */
  margin-top: 100px;
  margin-bottom: 200px;
}

/* .footer li {
  list-style: none;
  margin: 0 10px;
} */

/* .footer ul {
  margin-bottom: 0;
} */

.social__link {
  font-size:30px;
  padding: 10px 5px;
}

.email {
  font-size: 25px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .email {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .email {
    font-size: 16px;
  }
}